.box {
  font-size: 4vw;
  height: 8vw;
  width: 8vw;
}

body {
  background-color: rgb(146, 184, 255);
}

.largeBoard {
  background-color: black;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:0em;
  width: 85vw;
  height: 85vw;
}

.miniBoard {
  padding: 0.5em;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.miniBoard:hover {
  background-color: rgb(99, 154, 255);
}