.box {
  font-size: 4vw;
  height: 100%;
  width: 100%;
}

.box button{
  height: 100%;
  width: 100%;
  overflow:hidden;
}

.app {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: rgb(146, 184, 255);
}

.largeBoard {
  background-color: black;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:1em;
  width: 80vw;
  height: 80vw;
  margin: 1rem;
}

.miniBoard {
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
}

.focusedBoard {
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
}

.focusedBoard:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.164);
}

.filledMini {
  padding: 0.5em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  font-size: 20vw;
}